@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
body {
    font-family: 'Comfortaa', cursive;
}

*,
*::after,
*::backdrop {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.header {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    display: block;
    animation: opacit 1.5s infinite alternate;
    font-size: 2rem;
    text-transform: uppercase;
}

.b {
    margin-top: 55px;
    text-transform: lowercase;
    border: solid 2px gray;
    border-radius: 5px;
    padding: 11px 35px 11px 35px;
    opacity: 0.8;
    font-size: 2rem;
    width: 150px;
}

.scrin {
    margin-top: 55px;
    text-transform: lowercase;
    border: solid 2px gray;
    border-radius: 5px;
    padding: 8px 10px 8px 10px;
    opacity: 0.8;
    font-size: 15px;
    width: 150px;
}
.status{
    opacity: 0;
}

@keyframes opacit {
    0% {
        opacity: 1;
    }
    10% {
        opacity: 0.9;
    }
    20% {
        opacity: 0.8;
    }
    30% {
        opacity: 0.7;
    }
    40% {
        opacity: 0.6;
    }
    50% {
        opacity: 0.5;
    }
    60% {
        opacity: 0.4;
    }
    70% {
        opacity: 0.3;
    }
    80% {
        opacity: 0.2;
    }
    90% {
        opacity: 0.1;
    }
    100% {
        opacity: 0;
    }
}

@media(max-width: 1024px) {
    .b {
        padding: 10px 30px 10px 30px;
    }
}

@media(max-width: 768px) {
    .b {
        padding: 10px 25px 10px 25px;
    }
}

@media(max-width: 480px) {
    .title {
        font-size: 1.7rem;
    }
    .b {
        font-size: 1.7rem;
    }
}

@media(max-width: 425px) {
    .b {
        padding: 8px 20px 8px 20px;
    }
}

@media(max-width: 320px) {
    .b {
        padding: 5px 15px 5px 15px;
    }
}

@media(max-width: 320px) {
    .b {
        padding: 5px 15px 5px 15px;
    }
}
